.headerImage{
height:200px;
width:100%;
}

.link2{
font-size:1.3em;
}

.table1{
width:600px;
cell-padding:0px;
cell-spacing:0px;
}

.table1{
background-color:#D0CFC4;
width:70px;
}

.tableAlignCenter{
text-align:center;
}

.table1Width{
width:350px;
}