#mainDiv{
width:100%;
}

.body{
padding-right:-4px;
}

#innerRow1{
width:100%;
height:400px;
}

.anchor1{

text-decoration:none;
color:white;
}

.anchor1:hover{
text-decoration:none;
color:white;
font-size:1.2em;
}

.anchor1:active{
text-decoration:none;
color:white;

}

.signUp{
padding-top:5px;
background-color:#FF5A5E;
height:40px;
width:90px;
border:1px solid right;
text-align:center;
}

.signUpButton{
background-color:#FF5A5E;
}

.smallTextColor{
font-size:.8em;
color:white;
}

#innerDiv1{
height:400px;
width:100%;
background-size: 100% 100%;
background-image:url("images1/dating2.jpg");
background-repeat:no-repeat;
}

#innerDiv11{
margin-top:70px;
margin-left:200px;
}

#innerDiv111{
height:280px;
padding-left:0px;
padding-right:0px;
background-color:#007A87;

}

#loginContent{
width:100%;
height:30%;
text-align:center;

}



.textColor{
color:white;
text-align:center;
font-size:1.1em;
}

.mediumTextColor{
color:white;
font-size:.9em;
}

#innerDiv2{
height:100px;
width:100%;
background-color:#007A87;
}


#innerDiv1111{
height:20%;
width:93%;
margin-left:5px;
margin-right:5px;
}
/*innerDiv1114*/

#inputTypeButton{
height:100%;
width:100%;
background-color:#FF5A5E;
}

#innerDiv1114{
background-color:#FF5A5E;
height:20%;
color:white;

padding-left:0px;
padding-right:0px;
margin-top:0px;
}

#continueButton{
width:100%;
}

.input1{
height:100%;
width:100%;
}

#innerDiv3{
height:4px;
width:100%;
background-color:white;

}

.inner4{
background-color:#007A87;
height:130px;
width:100%;
width:20%;
}

.innerRow4{
background-color:#007A87;
height:130px;
width:100%;
}


.error{
display:none;
}

.error_show{
	color: red;
}

