.buttonClass{
text-align:center;
}

.borderColor{
border-color:1ps solid white;
color:white;
}

.bodyColor{
background-color:#007A87;
}

.headerColor{
background-color:#FF5A5E;
color:white;
}

.headerColor:hover{
color:white;
}

.headerColor:visited{
color:white;
}

.link1{
font-size:1.1em;
text-decoration:none;
color:white;
}

.link1:hover{
font-size:1.1em;
text-decoration:none;
color:white;
}

.link1:active{
font-size:1.1em;
text-decoration:none;
color:white;
}

.link1:visited{
font-size:1.1em;
text-decoration:none;
color:white;
}
