#mainImage{
background-attachment:red;
height:200px;
width:100%;
border:1px solid black;
background-repeat:no-repeat;
padding-right:0px;
padding-left:0px;
}

.tableBorder1{
color:white;
}

.bodyClass{
background-color:#007A87;
}

.tableBorder{
border:1px solid white;
}

.headColor1{
background-color:#FF5A5E;
}


.navbarClass{
background-color:#FF5A5E;
color:white;
border-radius:0px;
}

.link1{
color:white;
}

.link1:color{
color:#007A87;
}

.image{
height:100%;
width:100%;
}