.tableBorder{
border:1px solid black;
}

.tableAlignCenter{
text-align:center;
}

.tableAlignLeft{
text-align:left;
}

.tableAlignRight{
text-align:right;
}

.tableBackground{
background-color:#AEB5BF;
}

.buttonClass1{
color:white;
background-color:#FF5A5E;
}
.textSize{
font-size:.9em;
}



.buttonClass1:hover{
color:white;
background-color:#FF5A5E;
}

.textColor{
color:white;
}

.backGroundColor{
background-color:#FF5A5E;
}